@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-image: url(./images/mobile/image-hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Alata', sans-serif;
    font-size: 300;
    opacity: 1;
}
.logo{
    position: absolute;
    top:30px;
    left:20px;
}
.hamburger{
    position: absolute;
    top:30px;
    right:20px;
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: white;
    
}
.fa-bars{
    display: block;
}
.fa-times{
    position: absolute;
    top:20px;
    right:20px;
    color: white;
    font-size: 2em;
}
.nav-list{
    background-color: rgb(179, 152, 152);
    position: absolute;
    top:12%;
    left:20px;
    text-align: center;
    width:80%;
    padding: 0px 30px;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2000;
}
.nav-list.show{
    transform: scale(1);
    transform-origin: top;
}

.nav ul li{
    margin: 50px 20px;
    font-size: 1.5em;
    
}
.nav ul li a{
    color:white;
    padding: 10px;
    margin: 20px;
}
   
.nav ul li a:hover{
    border: 1px solid white;
    border-radius: 25px;
}
.header-content{
    color:white;
    border:3px solid white;
    position: absolute;
    top:28%;
    left:-5%;
    overflow-x: hidden;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 50px;
    line-height: 1.1;
    padding: 20px 10px;
}
.interactive-vr{
    height: 100%;
    margin: 20px 0px;
}
.vr-pic{
    background-image: url(./images/mobile/image-interactive.jpg);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 80px 50px 0px 50px;
}
.vr-pic-text h2{
    text-transform: uppercase;
    font-size: 2.0em;
    text-align: center;
    margin: 100px 30px;
}
.vr-pic-text h4{
    margin: 40px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.8;
    font-size: 1em;
    color:hsl(0, 0%, 55%);

}
.vr-extension-purple{
    visibility: hidden;
    display: none;
}
.creations{
    margin: 60px 0px;
}

.creations h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3em;
    margin: 30px 0px;
    
}
.creation-button{
    visibility: hidden;
}
.creation-img-section{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
   
}
.deep-earth{
    background-image: url(./images/mobile/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin:2px  30px;
    position: relative;
}
.deep-earth h2{
    position: absolute;
    top:50%;
    left:10px;
    font-size: 24px;
    color:white;
}
.night-arcade{
    background-image: url(./images/mobile/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
    opacity: 0.9;   
}
.night-arcade h2{
    position: absolute;
    top:49%;
    left:2px;
    font-size: 24px;
    color:white;
    font-size:1.5em;
    font-weight: bold;  
}
.Soccer-team-img{
    background-image: url(./images/mobile/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
    opacity: 1.5;
}
.Soccer-team-img h2{
    position: absolute;
    top:44%;
    left:15px;
    font-size: 24px;
    color:white;
}
.the-grid-img{
    background-image: url(./images/mobile/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    
    position: relative;
}
.the-grid-img h2{
    position: absolute;
    top:50%;
    left:10px;
    font-size: 24px;
    color:white;
}
.from-up{
    background-image: url(./images/mobile/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
}
.from-up h2{
    position: absolute;
    top:45%;
    left:10px;
    font-size: 24px;
    color:white;
}
.pocket{
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
}
.pocket h2{
    position: absolute;
    top:45%;
    left:10px;
    text-align: justify;
    font-size: 24px;
    color:white;
}

.curiosity-img{
    background-image: url(./images/mobile/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
}
.curiosity-img h2{
    position: absolute;
    top:50%;
    left:10px;
    font-size: 24px;
    color:white;
    text-align: justify;
}
.make-it-eye-img{
    background-image: url(./images/mobile/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin: 2px 30px;
    position: relative;
}
.make-it-eye-img h2{
    position: absolute;
    top:50%;
    left:10px;
    font-size: 24px;
    color:white;
    text-align: justify;
}
.see-all-button{
    display: block;
    visibility: visible;
    margin: 30px auto 100px auto;
    padding: 10px 40px;
    background-color: black;
    color: white;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
    
}
.see-all-button:hover{
    background-color: rgb(201, 193, 193);
    color: black;

}
footer{
    background-color: black;
    text-align: center;
    height: 100%;
}
.footer-logo{
    margin: 20px 0px;
}
.footer-links{
    margin: 30px 0px;
}
.footer-links a{
    margin: 0px 5px;
}
.footer-links a:hover{
    transform: scale(1.1);
}
.footer-list li{
    margin: 10px 0px;
    padding: 10px;
    
}
.footer-list li a{
    color:white;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    padding: 8px;
    transition: all 0.5s ease-in-out;
    border: none;
    outline:none;
}
.footer-list li a:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    transform: scale(1.1);
}
footer p{
    color:white;
}
.attribution { 
    padding: 40px;
    font-size: 15px; 
    text-align: center; 
}
.attribution a {
    color: rgb(194, 77, 194);
}


@media screen  and (min-width:1200px){
    header{
        background-image: url(./images/desktop/image-hero.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        position: relative;
        overflow: hidden;

    }
    .logo{
        width: 20em;
    }
    .nav-list{
        background-color:transparent;
        position: absolute;
        display: flex;
        top:0%;
        right: 20px;
        margin-left: 650px;
        transform: scale(1);
      
    }
    .hamburger{
        display: none;
    }
    .fa-times{
        display: none;
        visibility: hidden;
    }
    .nav ul li{
        margin: 20px 0px;
        font-size: 1.5em;
        
    }
    .nav ul li a{
        color:white;
        padding: 10px;
        margin: 0px 10px;
        font-weight: 900;
    }
    .header-content{
        color:white;
        border:3px solid white;
        position: absolute;
        top:30%;
        left:10%;
        overflow-x: hidden;
        font-size: 2.5em;
        text-transform: uppercase;
        text-align: justify;
        padding: 20px 100px 40px 20px;
        line-height: 1.3;
    }
    .vr-pic{
        background-image: url(./images/desktop/image-interactive.jpg);
        height: 50vh;
        
        background-size: cover;
        background-repeat: no-repeat;
        margin: 100px 50px;
    }
    .interactive-vr{
        display: flex;
        position: relative;
        height: 100vh;
        align-items: center;
        
    }
    .vr-pic{
        width: 50%;
        height: 70%;
    }
    .vr-pic-text{
        width: 50%;
        text-align: justify;
        
    }
    .vr-pic-text h2{
        font-size: 2em;
        margin: 400px 330px 0px 0px;
       text-align: center;
    }
    .vr-pic-text h4{
        line-height: 1.3;
        text-align: justify;
    }
    .vr-extension-purple{
        visibility: visible;
        display: block;
        position: absolute;
        left:50%;
        top:15%;
        outline: none;
        z-index: -2000;
        
    }
    .vr-extension-purple img{
        width:190px;
        height: 180px;
        
    }
    .creation-button{
        visibility: visible;
        display: block;
        padding: 10px 40px;
        margin: 20px 60px;
        background-color: white;
        border: 1px solid black;
        transition: all 0.5s ease-in-out;
    }
    .creation-button:hover{
        background-color: black;
        color: white;
    }
    .creations-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .creations-flex h2{
        margin: 20px 60px;

    }
    .creation-img-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 100px 60px 160px 60px;
        height: 100%;
       
    }
    .deep-earth{
        background-image: url(./images/desktop/image-deep-earth.jpg);
        height: 70vh;
        margin:2px ;
    }
    .deep-earth h2{
        position: absolute;
        top:85%;
        line-height: 1.2;
        left:20px;
 
    }
    .night-arcade{
        background-image: url(./images/desktop/image-night-arcade.jpg);
        height: 70vh;
        margin: 2px ;
 
    }
    .night-arcade h2{
        position: absolute;
        top:85%;
        line-height: 1.2;
        left:20px;
    }

    .Soccer-team-img{
        background-image: url(./images/desktop/image-soccer-team.jpg);
        height: 70vh;
        margin: 2px;
        opacity: 1.4;
    }
    .Soccer-team-img h2{
        position: absolute;
        top:79%;
        line-height: 1.2;
        left:70px;

    }
    .the-grid-img{
        background-image: url(./images/desktop/image-grid.jpg);
        height: 70vh;
        margin: 2px;
    }
    .the-grid-img h2{
        position: absolute;
        top:85%;
        line-height: 1.2;
        left:80px;
        font-size: 2em;

    }
    .from-up{
        background-image: url(./images/desktop/image-from-above.jpg);
        height: 70vh;
        margin: 2px;
        opacity: 1.5;

    }
    .from-up h2{
        position: absolute;
        top:77%;
        line-height: 1.2;
        left:20px;
    }
    .pocket{
        background-image: url(./images/desktop/image-pocket-borealis.jpg);
        height: 70vh;
        margin: 2px;
    }
    .pocket h2{
        position: absolute;
        top:78%;
        line-height: 1.2;
        left:50px;
    }
    
    .curiosity-img{
        background-image: url(./images/desktop/image-curiosity.jpg);
        height: 70vh;
        margin: 2px;

    }
    .curiosity-img h2{
        position: absolute;
        top:85%;
        line-height: 1.2;
        left:20px;
    }
    .make-it-eye-img{
        background-image: url(./images/desktop/image-fisheye.jpg);
        height: 70vh;
        margin: 2px;

    }
    .make-it-eye-img h2{
        position: absolute;
        top:85%;
        line-height: 1.2;
        left:20px;
    }
    .see-all-button{
        visibility: hidden;
        display: none;

    }
    footer{
        display: flex;
        justify-content: space-around;
        height: 50vh;
        align-items: center;
    }
    .footer-list{
        display: flex;
    }
    .footer-links a{
        margin: 0px 10px;
    }
    .footer-section-1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-section-2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .attribution { 
        padding: 20px;
        font-size: 25px; 
        text-align: center; 
    }
    
} 